* {
  margin: 0;
}

html,
body {
  height: 100vh;
  width: 100vw;
  position: relative;
  overflow: hidden;
}

/****************************** BACKGROUND ********************/
.background {
  position: absolute;
  width: 100vw;
  z-index: -10;
  top: 0;
}

.background img {
  width: 100%;
}

.shake {
  position: absolute;
  animation: shake 0.5s infinite;
  top: -5px;
}

@keyframes shake {
  0% {
    transform: translate(0px, 1px);
    filter: brightness(1);
    filter: contrast(1);
    -webkit-filter: brightness(1);
    -webkit-filter: contrast(1);
  }
  10% {
    transform: translate(0px, -1px);
  }
  20% {
    transform: translate(0px, -1px);
  }
  30% {
    transform: translate(0px, -1px);
  }
  40% {
    transform: translate(0px, -1px);
  }
  50% {
    transform: translate(0px, -1px);
    filter: brightness(2);
    filter: contrast(2);
    -webkit-filter: brightness(2);
    -webkit-filter: contrast(2);
  }
  60% {
    transform: translate(0px, -1px);
  }
  70% {
    transform: translate(0px, 1px);
  }
  80% {
    transform: translate(0px, -1px);
  }
  90% {
    transform: translate(0px, 1px);
  }
  100% {
    transform: translate(0px, 1px);
    filter: brightness(1);
    filter: contrast(1);
    -webkit-filter: brightness(1);
    -webkit-filter: contrast(1);
  }
}

/****************************** FLOOR ********************/
.container {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding: 0;
  overflow: hidden;
  position: absolute;
  z-index: 0;
}

#floor {
  min-width: 100%;
  height: 100%;
  position: absolute;
  margin: 100px -600px;
  overflow: hidden;
  -webkit-perspective: 450px;
  perspective: 450px;
}

#floor ul {
  min-width: 100%;
  height: 120%;
  /* position: absolute; */
  margin: 100px -600px;
  z-index: 5;
  overflow: hidden;
  -webkit-perspective: 450px;
  perspective: 450px;
  list-style: none;
  margin: 0 auto;
  padding: 0;
  background: rgb(255, 255, 255);
  background-blend-mode: color-dodge;
  transform: rotateX(60deg);
}

#floor ul li {
  width: 154.3px;
  height: 200px;
  /* background: #ffffff; */
  display: inline-block;
  margin: 0px 4px 8px 4px;
  box-shadow: 0 3px 0 rgba(0, 0, 0, 0.5);
}

/****************************** FLOOR LIGHTS ********************/
.first {
  animation: floorLight1 1s infinite;
}

@keyframes floorLight1 {
  0% {
    background: #cccccc;
  }
  20% {
    background: #021f5c;
  }
  40% {
    background: #e97d6d;
  }
  55% {
    background: #a1a9f4;
  }
  70% {
    background: #ffffff;
  }
  80% {
    background: #e97d6d;
  }
  100% {
    background: #ef6fef;
  }
}

.second {
  animation: floorLight2 2s infinite;
}

@keyframes floorLight2 {
  0% {
    background: #cccccc;
  }
  20% {
    background: #021f5c;
  }
  40% {
    background: #e97d6d;
  }
  55% {
    background: #ef6fef;
  }
  70% {
    background: #cccccc;
  }
  80% {
    background: #a1a9f4;
  }
  100% {
    background: #cccccc;
  }
}

.third {
  animation: floorLight3 1.5s infinite;
}

@keyframes floorLight3 {
  0% {
    background: #ffffff;
  }
  20% {
    background: #021f5c;
  }
  40% {
    background: #e97d6d;
  }
  55% {
    background: #a1a9f4;
  }
  70% {
    background: #ef6fef;
  }
  80% {
    background: #0893d6;
  }
  100% {
    background: #ffffff;
  }
}

/* #d15975 #a1a9f4 #a233af #0893d6 #ef6fef #e97d6d
#021f5c #023086 */

/****************************** speaker tower ********************/
.speaker-level-holder {
  position: absolute;
  top: 0vh;
  left: 0vw;
  z-index: 20;
  transform: translate(46.1vw, 50vh) scale(150%);
}

.speaker-dual {
  position: absolute;
  left: 0;
  top: 0;
}

.speaker-dual--1 {
  transform: translate(26vw, 60vh) scale(120%);
  z-index: 20;
}
.speaker-dual--2 {
  transform: translate(36.5vw, 70vh) scale(120%);
  z-index: 60;
}
.speaker-dual--3 {
  transform: translate(47.25vw, 80vh) scale(120%);
  z-index: 80;
}
.speaker-dual--4 {
  transform: translate(58vw, 70vh) scale(120%);
  z-index: 60;
}
.speaker-dual--5 {
  transform: translate(68vw, 60vh) scale(120%);
  z-index: 20;
}

/****************************** DECORATIONS ********************/
/* .bubbles {
  position: absolute;
  top: 0;
  left: 0;

  transform: translate(52vw, 56vh) scale(100%);
  z-index: 15;
}

.rotate-rave {
  position: absolute;
  top: 0;
  left: 0;

  transform: translate(17vw, 89vh) scale(80%);
  z-index: 35;
} */

/* .ecstasy {
  position: absolute;
  top: 0;
  left: 0;

  z-index: 50;
} */

/* .ecstasy--1 {
  animation: bounce linear 10000ms infinite;
}
.ecstasy--2 {
  animation: bounce linear 12000ms infinite;
}
.ecstasy--3 {
  animation: bounce linear 13000ms infinite;
}
.ecstasy--4 {
  animation: bounce linear 12500ms infinite;
}
.ecstasy--5 {
  animation: bounce linear 11500ms infinite;
}
.ecstasy--6 {
  animation: bounce linear 10500ms infinite;
} */

/* @keyframes bounce {
  0% {
    transform: translate(110vw, 0) scale(75%);
  }

  100% {
    transform: translate(-10vw, 100vh) scale(75%);
  }
} */

/****************************** PARTY ANIMALS ********************/
.possumbetty {
  position: absolute;
  top: 0;
  left: 0;

  transform: translate(52vw, 56vh) scale(100%);
  z-index: 15;
}

.possum-wave {
  position: absolute;
  top: 0;
  left: 0;

  transform: translate(79vw, 88vh) scale(80%);
  z-index: 35;
}
.cheeta {
  position: absolute;
  top: 0;
  left: 0;

  transform: translate(15vw, 47vh) scale(80%);
  z-index: 35;
}

.pikachu {
  position: absolute;
  top: 0;
  left: 0;

  transform: translate(8vw, 60vh) scale(100%);
  z-index: 50;
}

.bunny--thump {
  position: absolute;
  top: 0;
  left: 0;

  transform: translate(18vw, 70vh) scale(80%);
  z-index: 50;
}

.bunny--happy {
  position: absolute;
  top: 0;
  left: 0;

  transform: translate(5vw, 73vh) scale(80%);
  z-index: 50;
}

.bunny--hat {
  position: absolute;
  top: 0;
  left: 0;

  transform: translate(4vw, 65vh) scale(80%);
  z-index: 50;
}

.gator {
  position: absolute;
  top: 0;
  left: 0;

  transform: translate(80vw, 48vh) scale(80%);
  z-index: 50;
}

.hamster--spin {
  position: absolute;
  top: 0;
  left: 0;

  transform: translate(4vw, 65vh) scale(80%);
  z-index: 50;
}

.hamster--bounce {
  position: absolute;
  top: 0;
  left: 0;

  transform: translate(12vw, 75vh) scale(80%);
  z-index: 50;
}

.salmon {
  position: absolute;
  top: 0;
  left: 0;

  z-index: 10;
}

.fast-fish {
  animation: swim linear 4000ms infinite;
  top: 26.1vh;
}

.slow-fish {
  animation: swim linear 8000ms infinite;
  top: 17.3vh;
}

.cruising-fish {
  animation: swim linear 6000ms infinite;
  top: 8.2vh;
}

@keyframes swim {
  0% {
    transform: translateX(110vw) scale(75%);
  }

  100% {
    transform: translateX(-10vw) scale(75%);
  }
}

.hobbes {
  position: absolute;
  z-index: 70;

  animation: hobbes-groovin linear 7000ms infinite;
}

@keyframes hobbes-groovin {
  0% {
    transform: translate(-10vw, 70vh);
  }

  100% {
    transform: translate(110vw, 70vh);
  }
}

/****************************** PARTY PARROTS ********************/
#aviary {
  height: 100vh;
  width: 100vw;
  position: absolute;
  z-index: 10;
}

.parrot {
  position: absolute;
}

/* the .shake breaks this?!!? */
/* @media screen and (max-width: 925px) {
  .background {
    height: 70vh;
    width: unset;
  }

  .background img {
    height: 100%;
  }
} */
