.dropdown {
  outline: 1.5px outset white;
  padding: 4px 0;
  margin: -7px;
}

.dropdown__menu {
  display: inline-block;
  padding: 0 5px;
}

.icons {
  outline: 1.5px outset white;
  margin: 10px -7px 0 -7px;
  padding: 0px 2px 1px 2px;
  display: flex;
  justify-content: left;
}

.icons__box {
  display: inline-block;
  padding: 2px 10px 1px 2px;
  vertical-align: middle;
  border-right-style: inset;
  border-right-width: 2px;
  border-right-color: rgb(233, 233, 233);
  box-shadow: inset -1px 0px rgb(130, 129, 129);
}

.icon {
  display: inline-block;
  /* border: 1px solid red; */
}

.icon--nav {
  border-right-style: inset;
  border-right-width: 2px;
  border-right-color: rgb(233, 233, 233);
  box-shadow: inset -1px 0px #828181;
}

.icon__nav-btn-wrapper {
  display: inline-block;
  border: 3px solid purple;
}

.icon__nav-btn-wrapper:hover {
  height: 100%;
  border-style: inset;
  border-width: 1px;
  border-right-color: #e9e9e9;
  /* box-shadow: inset -1px 0px rgb(130, 129, 129); */
}

.icon--triangl {
  border-style: inset;
  border-width: 3px;
  border-right-color: rgb(233, 233, 233);
  /* box-shadow: inset -1px 0px rgb(130, 129, 129); */
  margin-left: -10px;
}

.icon figure:nth-child(1) {
  opacity: 0;
}

.icon:hover {
  outline: 1.5px outset white;
}

.icon:hover figure:nth-child(2) {
  opacity: 0;
}

.icon:hover figure:nth-child(1) {
  opacity: 1;
}

.icon__img-holder {
  display: inline-flex;
  justify-content: center;
  position: relative;
  height: 36px;
  width: 48px;
  /* border: 1px solid red; */
}

.icon__img-holder figure {
  position: absolute;
  z-index: 100;
  margin: 0 auto;
  transform: scale(100%);
  top: 0;
  bottom: 0;
}

.icon__img-holder figcaption {
  text-align: center;
  margin-top: -7px;
  margin-left: 0px;
  /* border: 1px solid red; */
}

/* **************************** back icon */
.icon__img-holder--back {
  width: 52px;
  top: -2px;
  left: 10px;
}

.icon__img-holder--back img {
  transform: scale(70%);
}

.icon__img-holder--back figcaption {
  text-align: left;
  margin-top: -7px;
  margin-left: -7px;
}

/* **************************** forward icon */
.icon__img-holder--frwd {
  width: 52px;
  top: -2px;
  left: 10px;
}

.icon__img-holder--frwd img {
  transform: scale(70%);
}

.icon__img-holder--frwd figcaption {
  text-align: left;
  margin-top: -7px;
  margin-left: -12px;
}

/* **************************** stop icon */
.icon__img-holder--stop {
  top: -2px;
  left: 2px;
}

.icon__img-holder--stop img {
  transform: scale(70%);
}

/* **************************** refr icon */
.icon__img-holder--refr {
  top: -2px;
  left: 2px;
}

.icon__img-holder--refr img {
  transform: scale(70%);
}

/* **************************** full icon */
.icon__img-holder--full {
  top: -2px;
  left: 15%;
}

.icon__img-holder--full img {
  transform: scale(70%);
}

.icon__img-holder--full figcaption {
  text-align: center;
  margin-top: -7px;
  margin-left: -12px;
  /* border: 1px solid red; */
}

.chan {
  display: inline-block;
}

.chan__img-holder {
  position: relative;
  height: 34px;
  width: 34px;
  top: -6px;
  left: 2px;
}

.chan figure:nth-child(1) {
  opacity: 0;
}

.chan__img-holder figure {
  position: absolute;
  /* width: 100%; */
  z-index: 100;
  margin: 0 auto;
  transform: scale(70%);
  top: 0;
  bottom: 0;
}

.chan__img-holder img {
  transform: scale(75%);
}

.chan__img-holder figcaption {
  text-align: center;
}

.chan:hover {
  outline: 1.5px outset white;
}

.chan:hover figure:nth-child(2) {
  opacity: 0;
}

.chan:hover figure:nth-child(1) {
  opacity: 1;
}

.sear {
  display: inline-block;
}

.sear__img-holder {
  position: relative;
  height: 34px;
  width: 34px;
  top: -6px;
  left: 2px;
}

.sear figure:nth-child(1) {
  opacity: 0;
}

.sear__img-holder figure {
  position: absolute;
  /* width: 100%; */
  z-index: 100;
  margin: 0 auto;
  transform: scale(70%);
  top: 0;
  bottom: 0;
}

.sear__img-holder img {
  transform: scale(75%);
}

.sear__img-holder figcaption {
  text-align: center;
}

.sear:hover {
  outline: 1.5px outset white;
}

.sear:hover figure:nth-child(2) {
  opacity: 0;
}

.sear:hover figure:nth-child(1) {
  opacity: 1;
}

.home {
  display: inline-block;
  color: black;
}

.home__img-holder {
  position: relative;
  height: 34px;
  width: 34px;
  top: -6px;
  left: 2px;
}

.home figure:nth-child(1) {
  opacity: 0;
}

.home__img-holder figure {
  position: absolute;
  /* width: 100%; */
  z-index: 100;
  margin: 0 auto;
  transform: scale(70%);
  top: 0;
  bottom: 0;
}

.home__img-holder img {
  transform: scale(90%);
}

.home__img-holder figcaption {
  text-align: center;
}

.home:hover {
  outline: 1.5px outset white;
}

.home:hover figure:nth-child(2) {
  opacity: 0;
}

.home:hover figure:nth-child(1) {
  opacity: 1;
}

.favs {
  /* height: 32px;
  width: 32px; */
  display: inline-block;
}

.favs__img-holder {
  position: relative;
  height: 34px;
  width: 34px;
  top: -6px;
  left: -4px;
}

.favs figure:nth-child(1) {
  opacity: 0;
}

.favs__img-holder figure {
  position: absolute;
  /* width: 100%; */
  z-index: 100;
  margin: 0 auto;
  transform: scale(70%);
  top: 0;
  bottom: 0;
  text-align: center;
}

.favs__img-holder img {
  transform: scale(95%);
}

.favs__img-holder figcaption {
  text-align: center;
}

.favs:hover {
  outline: 1.5px outset white;
}

.favs:hover figure:nth-child(2) {
  opacity: 0;
}
.favs:hover figure:nth-child(1) {
  opacity: 1;
}

.hist {
  /* height: 32px;
  width: 32px; */
  display: inline-block;
}

.hist__img-holder {
  position: relative;
  height: 34px;
  width: 34px;
  top: -6px;
  left: -4px;
}

.hist figure:nth-child(1) {
  opacity: 0;
}

.hist__img-holder figure {
  position: absolute;
  /* width: 100%; */
  z-index: 100;
  margin: 0 auto;
  transform: scale(70%);
  top: 0;
  bottom: 0;
  text-align: center;
}

.hist__img-holder img {
  transform: scale(90%);
}

.hist__img-holder figcaption {
  text-align: center;
}

.hist:hover {
  outline: 1.5px outset white;
}

.hist:hover figure:nth-child(2) {
  opacity: 0;
}
.hist:hover figure:nth-child(1) {
  opacity: 1;
}

.prnt {
  display: inline-block;
}

.prnt__img-holder {
  position: relative;
  height: 34px;
  width: 34px;
  top: -6px;
  left: 2px;
}

.prnt figure:nth-child(1) {
  opacity: 0;
}

.prnt__img-holder figure {
  position: absolute;
  /* width: 100%; */
  z-index: 100;
  margin: 0 auto;
  transform: scale(70%);
  top: 0;
  bottom: 0;
}

.prnt__img-holder img {
  transform: scale(110%);
}

.prnt__img-holder figcaption {
  text-align: center;
}

.prnt:hover {
  outline: 1.5px outset white;
}

.prnt:hover figure:nth-child(2) {
  opacity: 0;
}

.prnt:hover figure:nth-child(1) {
  opacity: 1;
}

.mail {
  display: inline-block;
}

.mail__img-holder {
  position: relative;
  height: 34px;
  width: 34px;
  top: -6px;
  left: 2px;
}

.mail figure:nth-child(1) {
  opacity: 0;
}

.mail__img-holder figure {
  position: absolute;
  /* width: 100%; */
  z-index: 100;
  margin: 0 auto;
  transform: scale(70%);
  top: 0;
  bottom: 0;
}

.mail__img-holder img {
  transform: scale(110%);
}

.mail__img-holder figcaption {
  text-align: center;
}

.mail:hover {
  outline: 1.5px outset white;
}

.mail:hover figure:nth-child(2) {
  opacity: 0;
}

.mail:hover figure:nth-child(1) {
  opacity: 1;
}

/* .stop-orig {
  background: url('./assets/browser/msg_error-1.png') no-repeat center;
  height: 32px;
  width: 32px;
  display: inline-block;
  outline: 1px solid blue;
}
.stop-orig:hover {
  background-image: url('./assets/browser/msg_error-0.png');
  outline: 1.5px outset white;
} */

.field-row {
  outline: 1.5px outset white;
  margin: 0px -7px;
  padding: 2px 2px 1px 5px;
  display: flex;
  justify-content: left;
}

.url {
  display: inline-block;
  width: 100%;
}

.links {
  overflow: hidden;
  white-space: nowrap;
  outline: 1.5px outset white;
  margin: 0px -7px;
  padding: 4px 2px 0 5px;
  display: flex;
  justify-content: left;
}

.link {
  display: inline-block;
  padding: 0 5px;
  vertical-align: middle;
}

.link__text,
.task__text {
  vertical-align: super;
}

.index-of {
  background-color: white;
  margin: -4px 0 3px 0px;
  padding: 2px 2px 1px 5px;
  border: 1px solid rgb(165, 165, 165);
}

.fake-filters {
  padding-left: 75px;
}

.fake-filters a {
  display: inline-block;
}
.fake-filters a:nth-child(1) {
  width: 29%;
}
.fake-filters a:nth-child(2) {
  width: 23%;
}
.fake-filters a:nth-child(3) {
  width: 4.5%;
}

.file-links {
  padding: 0 15px;
  max-height: 178px;
  overflow: auto;
}

.file-links img {
  height: 18px;
  vertical-align: middle;
  margin-right: 7px;
  padding: 2px;
}

.file-links div {
  padding: 0;
  margin: 0;
}

.file-links div a:nth-child(2) {
  display: inline-block;
  word-break: break-all;
  width: 29%;
  /* border: 1px solid green; */
}

.file-links div span:nth-child(3) {
  display: inline-block;
  width: 24%;
  /* border: 1px solid red; */
}

.index-of h3 {
  margin: 0 80px;
}

.directory {
  font-size: 16px;
}

.taskbar {
  display: flex;
  justify-content: space-between;
}

.task {
  display: inline-block;
  padding: 2px 10px 1px 2px;
  vertical-align: middle;
  border-style: inset;
  border-width: 2px;
  border-color: rgb(233, 233, 233);
  height: 15px;
}

.taskbar > span:nth-child(1) {
  width: 45%;
}
.taskbar > span:nth-child(2) {
  width: 15%;
}
.taskbar > span:nth-child(3) {
  width: 2%;
}
.taskbar > span:nth-child(4) {
  width: 2%;
}
.taskbar > span:nth-child(5) {
  width: 2%;
}
.taskbar > span:nth-child(6) {
  width: 25%;
}
